
body { 
  background: url(../Images/Capture.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: 'Anton', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h4 {
  font-family: 'Anton', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color:goldenrod;
}
#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width:  980px;
  margin:0 auto;
}
h1 {
    /* font-family: 'Rye', cursive;*/
    font-family: 'Limelight', cursive;
    /*font-family: 'Bungee Shade', cursive;*/
    position: relative;
    text-transform: uppercase;
    font-size: 90px;
    letter-spacing: 4px;
    color:rgb(241, 207, 14);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    .neon{
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #fffb00,
      0 0 80px #fffb00,
      0 0 90px #fffb00,
      0 0 100px #fffb00,
      0 0 120px #fffb00;
    }
#input{
  color:rgb(241, 207, 14);
  font-size: 24px;
}
#movie-view{
  color:goldenrod;
}
#find-movie {
  background-color: black;
  border-color: black;
  color: goldenrod;
}
img{
  max-height: 100px ;
  display: inline;
  display: block;
  margin-left: 0px;
  margin-right: 10px;
}
/*Img name displayed in the movie #movie view div*/

.container{
  width: 980px;
}
.localName{
  color: rgb(241, 207, 14);
  font-size: 36px;
  text-align: center;
  margin: 0 auto;
}

#stream-view{
  color: rgb(241, 207, 14);
  font-size: 28px;
  text-align: center;
  margin: 0 auto;
}

.ellips{
  width:980px ;
}
.title {
  color: rgb(241, 207, 14);
  font-size: 28px;
  text-align: center;
  margin: 0 auto;
  width: auto;
}
.search{
  
  font-size: 28px;
  text-align: center;
  margin: 0 auto;
  width: auto;
 /* text-decoration: underline;*/
 color: rgb(241, 207, 14);
}


.movie{
  color: rgb(229, 228, 240);
  font-size: 22px;
  text-align: center; 
width: 960px;
margin: 0 auto;
}
.localName{
  color: rgb(241, 207, 14);
  font-size: 36px;
  text-align: center;
  margin: 0 auto;
}
#stream-view{
  color: rgb(241, 207, 14);
  font-size: 36px;
  text-align: center;
  margin: 0 auto;
}

.img{
  margin: auto;
}
.rating{
float: left;
width: 246px;
height: 50px;
color: rgb(229, 228, 240);
  font-size: 24px;

  

}
.release{
float: right;
color: rgb(229, 228, 240);
  font-size: 24px;
  text-align: center; 
}
.img{
  max-height: 150px;
  margin: 0 auto;
}

#m-view{
  width: 800px;
  margin: 0 auto;
}

.line{
  border-top: 3px solid rgb(241, 207, 14);
;width: 960px;
}
